$primary-color: #007bff;
$primary-hover: #0056b3;
$text-color: #1B1B1B;
$text-secondary: #555;
$text-muted: #6c757d;
$border-color: #ddd;
$border-light: #eee;
$background-white: #fff;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$border-radius: 14px;
$border-radius-sm: 12px;
$transition: 0.3s;
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;


.succses-page-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 16px;

    .succses-page{
        max-width: 700px;
        min-width: 500px;
        margin: 32px auto;
        padding: 32px;
        background-color: $background-white;
        border-radius: $border-radius-sm;
        font-family: 'Montserrat', sans-serif;


        &__title {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 16px;
            text-align: center;
        }
        &__subtitle {
            font-size: 16px;
            color: $text-secondary;
            margin-bottom: 32px;
            text-align: center;
        }
        &__icon{
            display: flex;
            flex-direction: column;
            gap: 24px;
            align-items: center;
            justify-content: center;
            margin: 32px auto;
            svg{
                width: 100px;
                height: 100px;
                color: $primary-color;
            }
        }
    }
}