// Переменные
$bg-color: #f8f9fa;
$card-bg: #ffffff;
$text-color: #334155;
$border-color: #e2e8f0;
$shadow: 0 2px 10px rgba(0, 0, 0, 0.301);
$hover-border: #3b82f6;
$active-bg: #0E2E5B;
$active-text: #ffffff;

.navContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 31px;
  padding-bottom: 30px;
  justify-content: start;
  @media (max-width: 1200px) {
    padding-left: 20px;
  }
  @media (max-width: 768px) {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 40px;
  background-color: #F5F7FA;
  border: 1px solid $border-color;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: $shadow;
  transition: all 0.2s ease-in-out;

  @media (max-width: 768px) {
    padding: 8px 20px;
  }
  @media (max-width: 480px) {
    gap: 5px;
    padding: 5px 10px;
  }

  &:hover {
    border-color: $hover-border;
    transform: translateY(-1px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
  }

  .label {
    color: $text-color;
    font-size: 16px;
    font-weight: 400;
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    color: #1e293b;
  }
}

.navItemActive {
  background-color: $active-bg;
  border-color: $active-bg;
  box-shadow: 0 4px 12px rgba(14, 46, 91, 0.3);
  transform: translateY(-1px);

  .label {
    color: $active-text;
    font-weight: 500;
  }

  .icon {
    color: $active-text;
  }

  &:hover {
    border-color: $active-bg;
    background-color: darken($active-bg, 5%);
  }
}

@media (max-width: 768px) {
  .navItem:first-child {
    display: none;
  }
}