.close-register-button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 16px;
    right: 16px;
    
    &:hover {
        background-color: #f0f0f0;
        border-radius: 50%;
    }
}