.product {
  display: flex;
  gap: 35px; 
  border-radius: 17px; 
  justify-content: center;
  align-items: stretch;
  max-width: 1280px; 
  height: 568px; 
  margin: 0 auto;

  &__gallery {
    display: flex;
    gap: 25px; 
    background: #f5f7fa;
    border-radius: 22px; 
    padding: 20px; 
    align-items: flex-start;
    box-shadow: 0 7px 17px rgba(14, 46, 91, 0.1); // увеличены тени
    transition: all 0.3s ease;
    height: 100%;

  }

  &__thumbs {
    display: flex;
    flex-direction: column;
    gap: 17px; 
  }

  &__thumb {
    width: 82px; 
    height: 82px; 
    border-radius: 12px; 
    border: 1px solid #e5e5e5;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: border 0.2s ease;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.active {
      border-color: #0e2e5b;
    }
  }

  &__image {
    width: 471px; 
    height: 100%;
    border-radius: 20px; 
    background: #f9f9f9;
    overflow: hidden;
    @media (max-width:1024px) {
      width: 400px; 
    }
    img {
      max-width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &__info {
    width: 645px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    box-shadow: 0 7px 17px rgba(14, 46, 91, 0.1);
    padding: 25px; 
    border-radius: 22px; 
    transition: all 0.3s ease;
    justify-content: space-between;

    h1{
      font-size: 18px; 
      font-weight: 500;
      color: #555;
    }
  }

  &__desc {
    color: #555;
    font-size: 28px; 
    font-weight: 600;
    line-height: 1.55;
  }

  &__price {
    font-size: 32px; 
    font-weight: 700;
    color: #16a34a;
  }

  &__bonus {
    font-size: 20px; 
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px; 
    margin-top: auto;
  }
}

.counter {
  display: flex;
  align-items: center;
  gap: 12px; 

  button {
    width: 52px; 
    height: 52px; 
    border: none;
    background: #f3f4f6;
    cursor: pointer;
    font-size: 25px; 
    border-radius: 100%;
    transition: background 0.2s ease;

    &:hover {
      background: #e5e7eb;
    }
  }

  span {
    width: 52px; 
    text-align: center;
    font-weight: 600;
    font-size: 20px; 
  }
}

.add-to-cart {
  padding: 12px 20px;
  color: #0e2e5b;
  border-radius: 12px; 
  border: 1px solid #0e2e5b;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px; 
  display: flex;
  align-items: center;
  gap: 12px; 
  background: #fff;
  transition: all 0.2s ease;
  svg {
    width: 22px; 
    height: 22px; 
  }
}

/* 📱 Адаптивка */
@media (max-width: 900px) {
  .product {
    flex-direction: column;
    max-height: none;
    height: auto;
    padding: 0;

    &__gallery {
      // flex-direction: column-reverse;
      align-items: center;
      height: auto;
      width: 100%;
    }

    &__thumbs {
      // flex-direction: row;
    }

    &__image {
      width: 352px; 
      height: 352px; 
    }

    &__info {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-width: 480px) {
  .product {
    flex-direction: column;
    max-height: none;
    height: auto;
    padding: 0;

    &__gallery {
      width: 100%;
      gap: 10px;
      padding: 13px;
    }

    &__thumbs {
      align-items: start;
      height: 100%;
      justify-content: start;
    }
   &__thumb {
    width: 52px; 
    height: 50px; 
    border-radius: 12px; 
    border: 1px solid #e5e5e5;
    background: #fff;
    cursor: pointer;
    overflow: hidden;
    transition: border 0.2s ease;
   }
    &__image {
      width: 100%; 
      height: 270px; 
    }

    &__info {
      width: 100% !important;
      height: auto;
    }
      &__info {
    width: 645px; 
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    box-shadow: 0 7px 17px rgba(14, 46, 91, 0.1);
    padding: 25px; 
    border-radius: 22px; 
    transition: all 0.3s ease;
    justify-content: space-between;

    h1{
      font-size: 14px; 
      font-weight: 500;
      color: #2b2929;
    }
  }

  &__desc {
    color: #555;
    font-size: 20px; 
    font-weight: 600;
    line-height: 1.3;
  }

  &__price {
    font-size: 24px; 
    font-weight: 700;
    color: #16a34a;
  }

  &__bonus {
    font-size: 18px; 
  }
    &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px; 
    margin-top: auto;
  }
  .counter {
  display: flex;
  align-items: center;
  gap: 12px; 

  button {
    width: 42px; 
    height: 42px; 
    border: none;
    background: #f3f4f6;
    cursor: pointer;
    font-size: 25px; 
    border-radius: 100%;
    transition: background 0.2s ease;

    &:hover {
      background: #e5e7eb;
    }
  }

  span {
    width: 42px; 
    text-align: center;
    font-weight: 600;
    font-size: 20px; 
  }
}
.add-to-cart {
  padding: 10px 15px;
  color: #0e2e5b;
  border-radius: 12px; 
  border: 1px solid #0e2e5b;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px; 
  display: flex;
  align-items: center;
  gap: 12px; 
  background: #fff;
  transition: all 0.2s ease;
  svg {
    width: 22px; 
    height: 22px; 
  }
}

  }
}