// Description.scss
.description {
  border-radius: 16px;
  margin-top: 40px;
  transition: all 0.3s ease;
  margin-bottom: 40px;

  &__title {
    color: #0e2e5b;
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 20px 0;
    padding-bottom: 16px;
    position: relative;

  }

  &__content {
    background: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
  }

  &__text {
    color: #00162acc; // Требуемый цвет с альфа-каналом
    font-size: 17px;
    line-height: 1.7;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.1px;
    text-align: justify;
    position: relative;

  
    @supports not (color: #00162acc) {
      color: rgba(0, 22, 42, 0.8); // RGBA эквивалент
    }
  }
}

// Адаптивные стили
@media (max-width: 768px) {
  .description {
    padding: 24px 0px;
    margin: 0px;
    border-radius: 14px;

    &__title {
      font-size: 20px;
      margin-bottom: 5px;
      padding-bottom: 0px;
    }

    &__content {
      padding: 10px;
    }

    &__text {
      font-size: 16px;

      &::before {
        width: 5px;
        top: 6px;
        height: calc(100% - 12px);
      }
    }
  }
}

@media (max-width: 480px) {
  .description {

    &__title {
      font-size: 18px;
    }

    &__content {
    }

    &__text {
      font-size: 15px;
      line-height: 1.6;
    }
  }
}