@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

body {
  background: rgba(245, 247, 250, 1);
  font-family: "Montserrat", sans-serif;
}