.under{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding: 0px 0px 30px 0px;
    h2{
        font-size: 16px;
        font-weight: 400;
        color: #00162ACC;
    }
    h2:last-child{
        color: black;
    }
}