
.header {
  width: 100%;
  height: 70px;
  background: #F5F7FA;
  border-bottom: 1px solid #e6e8ec;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 12px #0000004D;
  margin: auto;
  
}

.header__container {
  width: 1380px;
  height: 70px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__logo {
  width: 125px;
  height: 53px;
  display: flex;
  align-items: center;

  img {
    width: 125px;
    height: 53px;
    margin-left: 50px;
    object-fit: contain;
  }
}

.header__contacts {
  width: 135px;  
  height: 44px;
  padding: 0 12px;
  font-size: 13px;
  margin-left: 120px;
  background: #F5F7FA;
  border: 1px solid #0E2E5B;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background: #F5F7FA;
  }
}

.header__search {
  flex: 1;
  max-width: 356px;
  height: 44px;
  margin-left: 324px;
  position: relative;

  input {
    width: 100%;
    height: 100%;
    padding: 0 38px 0 14px;
    border: 1px solid #1B263B;
    border-radius: 6px;
    font-size: 16px;
    color: #111827;
    background-color: #F5F7FA;

    &::placeholder {
      color: #000;
    }

    &:focus {
      outline: none;
    }
  }

  .icon {
    position: absolute;
    left: 325px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    color: #000;
  }
}


.header__icons {
  
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 22px;
  color: #111827;
  margin-left: 100px;
  svg {
    cursor: pointer;
  }
}