$bg-light: #F5F7FA;
$text-color: #00162A;
.otherhistorycard{
  margin-left: 6px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    padding: 30px;
    max-width: 698px;
    background-color: $bg-light;
    border-radius: 12px;
    box-shadow: 10px 8px 24px rgba(0, 0, 0, 0.151);
    @media (max-width:768px) {
       margin-left: 4px;
         gap: 5px;
          padding: 15px;
       margin-right: 4px;
    }
    .ordernumber{
        font-size: 20px;
        font-weight: 400;
        color: $text-color;
    }
    .date{
        font-size: 14px;
        font-weight: 400;
         color: $text-color;
    }
    .status {
        font-size: 16px;
        font-weight: 400;
         color: $text-color;
  font-weight: 600;

  &--success {
    color: #2ecc71; // зелёный
  }

  &--pending {
    color: #f1c40f; // жёлтый
  }

  &--error {
    color: #e74c3c; // красный
}

    }
    .price{
        font-size: 16px;
        font-weight: 400;
         color: $text-color;
    }
    .orderImg{
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 20px;
      img{
        width: 85px;
        height: 85px;
        border-radius: 15px;
      }
    }
}