.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); // Затемнение фона
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; // Прижимаем к верху
  transition: all 0.5s ease;
}
.catalogContainer {
    transition: all 0.5s ease;
  display: flex;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border: 1px solid #f0f0f0;
}

.sidebar {
  min-height: 300px ;
  width: 280px;
  border-right: 1px solid #f5f5f5;
  padding: 8px 0;

  .navButton {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;

    .icon {
      margin-right: 12px;
      color: #005bff; // Синий цвет иконок
      display: flex;
    }

    .label {
      font-size: 14px;
      color: #333;
      font-weight: 400;
      text-align: left;
    }

    // Состояние при нажатии (активное)
    &.active {
      background-color: #f0f7ff; // Светло-голубой фон
      
      .label {
        color: #005bff;
        font-weight: 500;
      }

      // Тот самый синий баттан (полоска) слева
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: #005bff;
      }
    }

    &:hover:not(.active) {
      background-color: #fafafa;
    }
  }
}

.content {
  flex: 1;
  padding: 30px 40px;

  .brandsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Две колонки как на скрине
    gap: 30px;
  }

  .groupTitle {
    font-size: 15px;
    font-weight: 600;
    color: #444;
    margin-bottom: 15px;
  }

  .linkList {
    display: flex;
    list-style: none;
    padding: 0;

    .linkItem {
      font-size: 14px;
      color: #777;
      padding: 6px 0;
      cursor: pointer;

      &:hover {
        color: #005bff;
      }
    }
  }
}