.product-card {
  background: #F5F7FA;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  padding: 13px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  position: relative;

  &__badge {
    position: absolute;
    top: 15px;
    left: 15px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 5px;
    z-index: 2;
  }

  &__image {
    width: 100%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
    background: #F8F9FA;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .image-placeholder {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }

  &__article {
    font-size: 14px;
    font-weight: 500;
    color: #1a1a1a;
    margin-top: 4px;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    color: #1a1a1a;
    margin-top: 3px;
  }

  &__features {
    font-size: 13px;
    font-weight: 400;
    color: #5E5E5E;
    margin-top: 2px;
    min-height: 45px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
  }

  &__price {
    display: flex;
    flex-direction: column;

    .currency {
      font-size: 14px;
      font-weight: 400;
      color: #00162A;
    }

    .amount {
      margin-top: 2px;
      font-size: 20px;
      font-weight: 500;
      color: #3AA15B;
    }
  }

  &__cart {
    padding: 6px 17px;
    border-radius: 12px;
    border: 1px solid #E5E5E5;
    background: #F5F7FA;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #1a1a1a;
  }
}
