.sidebarprofile{
    max-width: 1280px;
    margin: auto;
    @media (max-width:1200px) {
        padding: 0px 20px;
    }
    @media (max-width:780px) {
        padding: 0px 15px;
    }
}
.d{
   padding: 0px 10px;
    @media (max-width:1200px) {
        padding: 0px 0px;
    } 
}